﻿@using DW.Library.Constant
@model IEnumerable<DW.Library.Classes.DealerVM>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Full report results</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <h3>Full Report</h3>
        <div class="form-inline text-center margin-bottom-10">
            <select class="form-control" data-bind="options: years, value: year"></select>
            <select class="form-control"
                    data-bind="options: months,
                       optionsText: 'monthName',
                       optionsValue: 'monthValue',
                       value: month,
                       optionsCaption: 'Select a month...'"></select>
            <button class="btn btn-info btn-sm" data-bind="click: exportResults">Main Report-All Dealers</button>
        </div>
        <table class="table table-bordered table-striped-2n-line">
            <thead>
            <tr>
                <th>Report(s)</th>
                <th class="text-center">Client(s)</th>
                <th class="text-center">Overall</th>
                <th class="text-center">1st Yr</th>
                <th class="text-center">In Warr</th>
                <th class="text-center">Out Warr</th>
                <th class="text-center">CP RO Count vs. Prior Yr</th>
                <th class="text-center">Cust Pay $ vs. Prior Yr</th>
                <th class="text-center">ACB</th>
                <th class="text-center">0 Visit</th>
                <th class="text-center">2+ Visits</th>
                <th class="text-center">Cross</th>

                <th class="text-center"></th>
                <th class="text-center">Overall Retention</th>
                <th class="text-center">4+ Visits</th>
                <th class="text-center">3 Visits</th>
                <th class="text-center">2 Visits</th>
                <th class="text-center">1 Visit</th>
                <th class="text-center">0 Visit</th>
            </tr>
            </thead>
            <tbody data-bind="foreach: clients">
                <tr data-bind="attr: {class: 'fullReport' + clientId}">
                    <td rowspan="2">
                        <button class="btn btn-info btn-sm" title="Retention Result Report"  data-bind="click: function(data, event) { vm.exportPDF(clientId); }"><i class="fa fa-lg fa-file-pdf-o" aria-hidden="true"></i></button>
                        <button class="btn btn-success btn-sm" title="Results By Visit" data-bind="click: function(data, event) { vm.exportReports(clientId); }"><i class="fa fa-lg fa-file-pdf-o" aria-hidden="true"></i></button>
                    </td>
                    <td data-bind="text: clientName" rowspan="2"></td>
                    <td rowspan="2"><input data-bind="percentNumber: result.overall, attr:{'data-property':'fullReport' + clientId}" class="input-cell input-cell-result" /></td>
                    <td rowspan="2"><input data-bind="percentNumber: result.firstYear, attr:{'data-property':'fullReport' + clientId}" class="input-cell input-cell-result" /></td>
                    <td rowspan="2"><input data-bind="percentNumber: result.inWar, attr:{'data-property':'fullReport' + clientId}" class="input-cell input-cell-result" /></td>
                    <td rowspan="2"><input data-bind="percentNumber: result.outWar, attr:{'data-property':'fullReport' + clientId}" class="input-cell input-cell-result" /></td>
                    <td rowspan="2"><input data-bind="percentNumber: result.custPayRo, attr:{'data-property':'fullReport' + clientId}" class="input-cell input-cell-result" /></td>
                    <td rowspan="2"><input data-bind="percentNumber: result.custPayMoney, attr:{'data-property':'fullReport' + clientId}" class="input-cell input-cell-result" /></td>
                    <td rowspan="2"><input data-bind="number: result.abcNow, attr:{'data-property':'fullReport' + clientId}" class="input-cell" /></td>
                    <td rowspan="2"><input data-bind="number: result.zeroVisitNow, attr:{'data-property':'fullReport' + clientId}" class="input-cell" /></td>
                    <td rowspan="2"><input data-bind="number: result.twoVisitNow, attr:{'data-property':'fullReport' + clientId}" class="input-cell" /></td>
                    <td rowspan="2"><input data-bind="number: result.crossNow, attr:{'data-property':'fullReport' + clientId}" class="input-cell" /></td>

                    <td data-bind="text: reportDealer.courtesyText"></td>
                    <td><input data-bind="percentNumber: result.overall, attr:{'data-property':'fullReport' + clientId}" class="input-cell" /></td>
                    <td><input data-bind="percentNumber: reportDealer.visits4Plus, attr:{'data-property':'fullReport' + clientId}" class="input-cell" /></td>
                    <td><input data-bind="percentNumber: reportDealer.visits3, attr:{'data-property':'fullReport' + clientId}" class="input-cell" /></td>
                    <td><input data-bind="percentNumber: reportDealer.visits2, attr:{'data-property':'fullReport' + clientId}" class="input-cell" /></td>
                    <td><input data-bind="percentNumber: reportDealer.visits1, attr:{'data-property':'fullReport' + clientId}" class="input-cell" /></td>
                    <td><input data-bind="percentNumber: reportDealer.visits0, attr:{'data-property':'fullReport' + clientId}" class="input-cell" /></td>
                </tr>
                <tr data-bind="attr: {class: 'fullReport' + clientId}">
                    <td data-bind="text: reportRegional.courtesyText"></td>
                    <td><input data-bind="percentNumber: reportRegional.overallRetention, attr:{'data-property':'fullReport' + clientId}" class="input-cell" /></td>
                    <td><input data-bind="percentNumber: reportRegional.visits4Plus, attr:{'data-property':'fullReport' + clientId}" class="input-cell" /></td>
                    <td><input data-bind="percentNumber: reportRegional.visits3, attr:{'data-property':'fullReport' + clientId}" class="input-cell" /></td>
                    <td><input data-bind="percentNumber: reportRegional.visits2, attr:{'data-property':'fullReport' + clientId}" class="input-cell" /></td>
                    <td><input data-bind="percentNumber: reportRegional.visits1, attr:{'data-property':'fullReport' + clientId}" class="input-cell" /></td>
                    <td><input data-bind="percentNumber: reportRegional.visits0, attr:{'data-property':'fullReport' + clientId}" class="input-cell" /></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Report(s)</th>
                    <th class="text-center">Client(s)</th>
                    <th class="text-center">Overall</th>
                    <th class="text-center">1st Yr</th>
                    <th class="text-center">In Warr</th>
                    <th class="text-center">Out Warr</th>
                    <th class="text-center">CP RO Count vs. Prior Yr</th>
                    <th class="text-center">Cust Pay $ vs. Prior Yr</th>
                    <th class="text-center">ACB</th>
                    <th class="text-center">0 Visit</th>
                    <th class="text-center">2+ Visits</th>
                    <th class="text-center">Cross</th>

                    <th class="text-center"></th>
                    <th class="text-center">Overall Retention</th>
                    <th class="text-center">4+ Visits</th>
                    <th class="text-center">3 Visits</th>
                    <th class="text-center">2 Visits</th>
                    <th class="text-center">1 Visit</th>
                    <th class="text-center">0 Visit</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/scripts/jquery.signalR-2.2.1.js" type="text/javascript"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/scripts/knockout-3.4.0.js" type="text/javascript"></script>
    <script src="~/Scripts/autoNumeric/autoNumeric-min.js"></script>
    <script src="~/Scripts/ViewModels/BaseViewModel.js"></script>
    <script src="~/Scripts/ViewModels/ResultViewModel.js"></script>
    <script src="~/Scripts/ViewModels/ReportViewModel.js"></script>
    <script src="~/Scripts/ViewModels/FullReportResultsModel.js"></script>
    <script>
        var vm;
        $(function () {
            C_BASE.URL.DOWNLOAD_PDF = '@Url.Action("DownloadPDF", "DW")';
            C_BASE.URL.EXPORT_PDF = '@Url.Action("ExportPdf", "DW")';

            C_RESULT.URL.UPDATE_RESULT = '@Url.Action("UpdateResult", "DW")';
            C_REPORT.URL.UPDATE_RESULT = '@Url.Action("UpdateReport", "DW")';

            C_FULL_REPORT_RESULTS.URL.FETCH_COLORS = '@Url.Action("FetchColorsFullReportResults", "DW")';
            C_FULL_REPORT_RESULTS.URL.FETCH_FULL_REPORT_RESULTS = '@Url.Action("FetchFullReportResults", "DW")';
            C_FULL_REPORT_RESULTS.URL.FETCH_MONTHS_YEARS = '@Url.Action("FetchMonthsYears", "DW")';
            C_RESULT.URL.EXPORT_RESULTS = '@Url.Action("ExportResults", "DW")';
            C_RESULT.URL.DOWNLOAD_EXCEL = '@Url.Action("DownloadExcel","DW")';
            C_REPORT.URL.EXPORT_REPORTS = '@Url.Action("ExportVisits", "DW")';
            C_RESULT.ENUM.OVERALL = '@CReport.OverallRetention';
            C_RESULT.ENUM.FIRTS_YEAR = '@CResult.FirstYear';
            C_RESULT.ENUM.IN_WAR = '@CResult.InWar';
            C_RESULT.ENUM.OUT_WAR = '@CResult.OutWar';
            C_RESULT.ENUM.CUST_PAY_RO_VS_PRIOR_YR = '@CResult.CustPayRoVsPriorYr';
            C_RESULT.ENUM.CUST_PAY_MONEY_VS_PRIORT_YR = '@CResult.CustPayMoneyVsPriortYr';
            C_RESULT.ENUM.ABC_NOW = '@CResult.AbcNow';
            C_RESULT.ENUM.ZERO_VISIT_NOW = '@CResult.ZeroVisitNow';
            C_RESULT.ENUM.TWO_VISIT_NOW = '@CResult.TwoVisitNow';
            C_RESULT.ENUM.CROSS_NOW = '@CResult.CrossNow';

            C_REPORT.ENUM.DEALER = '@CCourtesy.Dealer';
            C_REPORT.ENUM.DEALER_STRING = '@CCourtesy.ToString(CCourtesy.Dealer)';
            C_REPORT.ENUM.REGIONAL = '@CCourtesy.Regional';
            C_REPORT.ENUM.REGIONAL_STRING = '@CCourtesy.ToString(CCourtesy.Regional)';

            C_REPORT.ENUM.OVERALL_RETENTION = '@CReport.OverallRetention';
            C_REPORT.ENUM.VISITS4PLUS = '@CReport.Visits4Plus';
            C_REPORT.ENUM.VISITS3 = '@CReport.Visits3';
            C_REPORT.ENUM.VISITS2 = '@CReport.Visits2';
            C_REPORT.ENUM.VISITS1 = '@CReport.Visits1';
            C_REPORT.ENUM.VISITS0 = '@CReport.Visits0';

            vm = new FullReportResultsViewModel();
            vm.init('@ViewBag.SelectedMonth', '@ViewBag.SelectedYear');
            ko.applyBindings(vm);
            vm.fetchColors();
        });
    </script>

</body>
</html>
