﻿@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @Html.ActionLink("Reports", "Report", "DW", null , new { @class = "btn" }) <br/>
    @Html.ActionLink("Results", "Results", "DW", null , new { @class = "btn" }) <br />
    @Html.ActionLink("Full Report", "FullReportResults", "DW", null, new { @class = "btn" })
</div>
</body>
</html>