﻿@using DW.Library.Constant
@model IEnumerable<DW.Library.Classes.ReportVM>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Report</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <h3>Current Report</h3>
        <div class="form-inline text-center margin-bottom-10">
            <select class="form-control" data-bind="options: years, value: year"></select>
            <select class="form-control"
                    data-bind="options: months,
                       optionsText: 'monthName',
                       optionsValue: 'monthValue',
                       value: month,
                       optionsCaption: 'Select a month...'"></select>
        </div>
        <table class="table table-bordered table-striped-2n-line">
            <thead>
                <tr>
                    <th>Report(s)</th>
                    <th class="text-center" colspan="2">Client(s)</th>
                    <th class="text-center">Overall Retention</th>
                    <th class="text-center">4+ Visits</th>
                    <th class="text-center">3 Visits</th>
                    <th class="text-center">2 Visits</th>
                    <th class="text-center">1 Visit</th>
                    <th class="text-center">0 Visit</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: reports">
                <tr data-bind="attr: {class: 'report' + clientId}">
                    <!-- ko if: $index() % 2 === 0 -->
                    <td rowspan="2"><button class="btn btn-success btn-sm" data-bind="click: function(data, event) { vm.exportReports(clientId); }"><i class="fa fa-lg fa-file-excel-o" aria-hidden="true"></i></button></td>
                    <td data-bind="text: clientName" rowspan="2"></td>
                    <!-- /ko -->
                    <td data-bind="text: courtesyText"></td>
                    <td><input data-bind="percentNumber: overallRetention, attr:{'data-property':'report' + clientId}" class="input-cell" /></td>
                    <td><input data-bind="percentNumber: visits4Plus, attr:{'data-property':'report' + clientId}" class="input-cell" /></td>
                    <td><input data-bind="percentNumber: visits3, attr:{'data-property':'report' + clientId}" class="input-cell" /></td>
                    <td><input data-bind="percentNumber: visits2, attr:{'data-property':'report' + clientId}" class="input-cell" /></td>
                    <td><input data-bind="percentNumber: visits1, attr:{'data-property':'report' + clientId}" class="input-cell" /></td>
                    <td><input data-bind="percentNumber: visits0, attr:{'data-property':'report' + clientId}" class="input-cell" /></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Report(s)</th>
                    <th class="text-center" colspan="2">Client(s)</th>
                    <th class="text-center">Overall Retention</th>
                    <th class="text-center">4+ Visits</th>
                    <th class="text-center">3 Visits</th>
                    <th class="text-center">2 Visits</th>
                    <th class="text-center">1 Visit</th>
                    <th class="text-center">0 Visit</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/scripts/jquery.signalR-2.2.1.js" type="text/javascript"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/scripts/knockout-3.4.0.js" type="text/javascript"></script>
    <script src="~/Scripts/autoNumeric/autoNumeric-min.js"></script>
    <script src="~/Scripts/ViewModels/BaseViewModel.js"></script>
    <script src="~/Scripts/ViewModels/ReportViewModel.js"></script>
    <script>
        var vm;
        $(function () {
            C_REPORT.URL.UPDATE_RESULT = '@Url.Action("UpdateReport", "DW")';
            C_REPORT.URL.FETCH_COLORS = '@Url.Action("FetchColorsReport", "DW")';
            C_REPORT.URL.FETCH_REPORT = '@Url.Action("FetchReport", "DW")';
            C_REPORT.URL.FETCH_MONTHS_YEARS = '@Url.Action("FetchMonthsYears", "DW")';
            C_REPORT.URL.EXPORT_REPORTS = '@Url.Action("ExportVisits", "DW")';
            C_REPORT.URL.DOWNLOAD_EXCEL = '@Url.Action("DownloadExcel","DW")';

            C_REPORT.ENUM.DEALER = '@CCourtesy.Dealer';
            C_REPORT.ENUM.DEALER_STRING = '@CCourtesy.ToString(CCourtesy.Dealer)';
            C_REPORT.ENUM.REGIONAL = '@CCourtesy.Regional';
            C_REPORT.ENUM.REGIONAL_STRING = '@CCourtesy.ToString(CCourtesy.Regional)';

            C_REPORT.ENUM.OVERALL_RETENTION = '@CReport.OverallRetention';
            C_REPORT.ENUM.VISITS4PLUS = '@CReport.Visits4Plus';
            C_REPORT.ENUM.VISITS3 = '@CReport.Visits3';
            C_REPORT.ENUM.VISITS2 = '@CReport.Visits2';
            C_REPORT.ENUM.VISITS1 = '@CReport.Visits1';
            C_REPORT.ENUM.VISITS0 = '@CReport.Visits0';

            vm = new ReportListViewModel();
            vm.init('@ViewBag.SelectedMonth', '@ViewBag.SelectedYear');
            ko.applyBindings(vm);
            vm.fetchColors();
        });
    </script>
</body>
</html>