﻿@using DW.Library.Constant
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Results</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet"/>
    <link href="~/Content/main.css" rel="stylesheet"/>
</head>
<body>
    <div class="container-fluid">
        <h3>Results for</h3>
        <div class="form-inline text-center margin-bottom-10">
            <select class="form-control" data-bind="options: years, value: year"></select>
            <select class="form-control"
                    data-bind="options: months,
                       optionsText: 'monthName',
                       optionsValue: 'monthValue',
                       value: month,
                       optionsCaption: 'Select a month...'"></select>
            <button class="btn btn-info btn-sm" data-bind="click: exportResults">Main Report-All Dealers</button>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Report(s)</th>
                <th class="text-center">Client(s)</th>
                <th class="text-center">Overall</th>
                <th class="text-center">1st Yr</th>
                <th class="text-center">In Warr</th>
                <th class="text-center">Out Warr</th>
                <th class="text-center">CP RO Count vs. Prior Yr</th>
                <th class="text-center">Cust Pay $ vs. Prior Yr</th>
                <th class="text-center">ACB</th>
                <th class="text-center">0 Visit</th>
                <th class="text-center">2+ Visits</th>
                <th class="text-center">Cross</th>
            </tr>
            </thead>
            <tbody data-bind="foreach: results">
            <tr data-bind="attr: {id: 'result' + id}">
                <td><button class="btn btn-info btn-sm" title="Retention Result Report" data-bind="click: function(data, event) { vm.exportPDF(clientId); }"><i class="fa fa-lg fa-file-pdf-o" aria-hidden="true"></i></button></td>
                <td data-bind="text: clientName"></td>
                <td><input data-bind="percentNumber: overall, attr:{'data-property':'result' + id}" class="input-cell"/></td>
                <td><input data-bind="percentNumber: firstYear, attr:{'data-property':'result' + id}" class="input-cell"/></td>
                <td><input data-bind="percentNumber: inWar, attr:{'data-property':'result' + id}" class="input-cell"/></td>
                <td><input data-bind="percentNumber: outWar, attr:{'data-property':'result' + id}" class="input-cell"/></td>
                <td><input data-bind="percentNumber: custPayRo, attr:{'data-property':'result' + id}" class="input-cell" /></td>
                <td><input data-bind="percentNumber: custPayMoney, attr:{'data-property':'result' + id}" class="input-cell"/></td>
                <td><input data-bind="number: abcNow, attr:{'data-property':'result' + id}" class="input-cell"/></td>
                <td><input data-bind="number: zeroVisitNow, attr:{'data-property':'result' + id}" class="input-cell"/></td>
                <td><input data-bind="number: twoVisitNow, attr:{'data-property':'result' + id}" class="input-cell"/></td>
                <td><input data-bind="number: crossNow, attr:{'data-property':'result' + id}" class="input-cell" /></td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Report(s)</th>
                    <th class="text-center">Client(s)</th>
                    <th class="text-center">Overall</th>
                    <th class="text-center">1st Yr</th>
                    <th class="text-center">In Warr</th>
                    <th class="text-center">Out Warr</th>
                    <th class="text-center">CP RO Count vs. Prior Yr</th>
                    <th class="text-center">Cust Pay $ vs. Prior Yr</th>
                    <th class="text-center">ACB</th>
                    <th class="text-center">0 Visit</th>
                    <th class="text-center">2+ Visits</th>
                    <th class="text-center">Cross</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/scripts/jquery.signalR-2.2.1.js" type="text/javascript"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/scripts/knockout-3.4.0.js" type="text/javascript"></script>
    <script src="~/Scripts/autoNumeric/autoNumeric-min.js"></script>
    <script src="~/Scripts/ViewModels/BaseViewModel.js"></script>
    <script src="~/Scripts/ViewModels/ResultViewModel.js"></script>
    <script>
        var vm;
        $(function () {

            C_BASE.URL.DOWNLOAD_PDF = '@Url.Action("DownloadPDF", "DW")';
            C_BASE.URL.EXPORT_PDF = '@Url.Action("ExportPdf", "DW")';

            C_RESULT.URL.UPDATE_RESULT = '@Url.Action("UpdateResult", "DW")';
            C_RESULT.URL.FETCH_COLORS = '@Url.Action("FetchColorsResult", "DW")';
            C_RESULT.URL.FETCH_RESULTS = '@Url.Action("FetchResults","DW")';
            C_RESULT.URL.FETCH_MONTHS_YEARS = '@Url.Action("FetchMonthsYears", "DW")';
            C_RESULT.URL.EXPORT_RESULTS = '@Url.Action("ExportResults", "DW")';
            C_RESULT.URL.DOWNLOAD_EXCEL = '@Url.Action("DownloadExcel","DW")';

            C_RESULT.ENUM.OVERALL = '@CReport.OverallRetention';
            C_RESULT.ENUM.FIRTS_YEAR = '@CResult.FirstYear';
            C_RESULT.ENUM.IN_WAR = '@CResult.InWar';
            C_RESULT.ENUM.OUT_WAR = '@CResult.OutWar';
            C_RESULT.ENUM.CUST_PAY_RO_VS_PRIOR_YR = '@CResult.CustPayRoVsPriorYr';
            C_RESULT.ENUM.CUST_PAY_MONEY_VS_PRIORT_YR = '@CResult.CustPayMoneyVsPriortYr';
            C_RESULT.ENUM.ABC_NOW = '@CResult.AbcNow';
            C_RESULT.ENUM.ZERO_VISIT_NOW = '@CResult.ZeroVisitNow';
            C_RESULT.ENUM.TWO_VISIT_NOW = '@CResult.TwoVisitNow';
            C_RESULT.ENUM.CROSS_NOW = '@CResult.CrossNow';

            vm = new ResultListViewModel();
            vm.init('@ViewBag.SelectedMonth', '@ViewBag.SelectedYear');
            ko.applyBindings(vm);
            vm.fetchColors();
        });
    </script>
</body>
</html>