﻿.input-cell {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    background: transparent;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.table-striped-2n-line>tbody>tr:nth-child(4n-3), 
.table-striped-2n-line>tbody>tr:nth-child(4n-2) {
   background-color: #f9f9f9; 
}